.city-sunrise-sunset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;
}

@media (min-width: 320px) {
  .city-sunrise-sunset {
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0px;
  }
}

@media (min-width: 800px) {
  .city-sunrise-sunset {
    flex-direction: row;
    padding: 0px 20vw;
  }
}
